.idea
*.csv
proba/bert/test.txt
proba/bert/train.txt
proba/bert/val.txt
proba/bert/results/checkpoint-500/model.safetensors
proba/bert/logs/events.out.tfevents.1744558024.MacBook-Air-od-Patricija.local.60958.0
proba/bert/results/checkpoint-1000/config.json
proba/bert/results/checkpoint-1000/model.safetensors
proba/bert/results/checkpoint-1000/optimizer.pt
proba/bert/results/checkpoint-1000/rng_state.pth
proba/bert/results/checkpoint-1000/scheduler.pt
proba/bert/results/checkpoint-1000/special_tokens_map.json
proba/bert/results/checkpoint-1000/tokenizer.json
proba/bert/results/checkpoint-1000/tokenizer_config.json
proba/bert/results/checkpoint-1000/trainer_state.json
proba/bert/results/checkpoint-1000/training_args.bin
proba/bert/results/checkpoint-1000/vocab.txt
proba/bert/results/checkpoint-1500/config.json
proba/bert/results/checkpoint-1500/model.safetensors
proba/bert/results/checkpoint-1500/optimizer.pt
proba/bert/results/checkpoint-1500/rng_state.pth
proba/bert/results/checkpoint-1500/scheduler.pt
proba/bert/results/checkpoint-1500/special_tokens_map.json
proba/bert/results/checkpoint-1500/tokenizer.json
proba/bert/results/checkpoint-1500/tokenizer_config.json
proba/bert/results/checkpoint-1500/trainer_state.json
proba/bert/results/checkpoint-1500/training_args.bin
proba/bert/results/checkpoint-1500/vocab.txt
proba/bert/results/checkpoint-2000/config.json
proba/bert/results/checkpoint-2000/model.safetensors
proba/bert/results/checkpoint-2000/optimizer.pt
proba/bert/results/checkpoint-2000/rng_state.pth
proba/bert/results/checkpoint-2000/scheduler.pt
proba/bert/results/checkpoint-2000/special_tokens_map.json
proba/bert/results/checkpoint-2000/tokenizer.json
proba/bert/results/checkpoint-2000/tokenizer_config.json
proba/bert/results/checkpoint-2000/trainer_state.json
proba/bert/results/checkpoint-2000/training_args.bin
proba/bert/results/checkpoint-2000/vocab.txt
proba/bert/results/checkpoint-2500/config.json
proba/bert/results/checkpoint-2500/model.safetensors
proba/bert/results/checkpoint-2500/optimizer.pt
proba/bert/results/checkpoint-2500/rng_state.pth
proba/bert/results/checkpoint-2500/scheduler.pt
proba/bert/results/checkpoint-2500/special_tokens_map.json
proba/bert/results/checkpoint-2500/tokenizer.json
proba/bert/results/checkpoint-2500/tokenizer_config.json
proba/bert/results/checkpoint-2500/trainer_state.json
proba/bert/results/checkpoint-2500/training_args.bin
proba/bert/results/checkpoint-2500/vocab.txt
proba/bert/results/checkpoint-3000/config.json
proba/bert/results/checkpoint-3000/model.safetensors
proba/bert/results/checkpoint-3000/optimizer.pt
proba/bert/results/checkpoint-3000/rng_state.pth
proba/bert/results/checkpoint-3000/scheduler.pt
proba/bert/results/checkpoint-3000/special_tokens_map.json
proba/bert/results/checkpoint-3000/tokenizer.json
proba/bert/results/checkpoint-3000/tokenizer_config.json
proba/bert/results/checkpoint-3000/trainer_state.json
proba/bert/results/checkpoint-3000/training_args.bin
proba/bert/results/checkpoint-3000/vocab.txt
proba/bert/results/checkpoint-500/config.json
proba/bert/results/checkpoint-500/optimizer.pt
proba/bert/results/checkpoint-500/rng_state.pth
proba/bert/results/checkpoint-500/scheduler.pt
proba/bert/results/checkpoint-500/special_tokens_map.json
proba/bert/results/checkpoint-500/tokenizer.json
proba/bert/results/checkpoint-500/tokenizer_config.json
proba/bert/results/checkpoint-500/trainer_state.json
proba/bert/results/checkpoint-500/training_args.bin
proba/bert/results/checkpoint-500/vocab.txt
proba/bert/spremljeni_model/config.json
proba/bert/spremljeni_model/model.safetensors
proba/bert/spremljeni_model/special_tokens_map.json
proba/bert/spremljeni_model/tokenizer.json
proba/bert/spremljeni_model/tokenizer_config.json
proba/bert/spremljeni_model/training_args.bin
proba/bert/spremljeni_model/vocab.txt
proba/gru/moj_model.keras
proba/gru/tokenizer.json
proba/bert_bigger_dataset/spremljeni_model/vocab.txt
proba/bert_bigger_dataset/spremljeni_model/tokenizer_config.json
proba/bert_bigger_dataset/spremljeni_model/tokenizer.json
proba/bert_bigger_dataset/spremljeni_model/special_tokens_map.json
proba/bert_bigger_dataset/spremljeni_model/model.safetensors
proba/bert_bigger_dataset/spremljeni_model/training_args.bin
proba/bert_bigger_dataset/spremljeni_model/config.json
proba/bert/logs/events.out.tfevents.1746952742.MacBook-Air-od-Patricija.local.82325.0
